.composition {
  position: relative;
  &__photo {
    width: 45%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: 2px;
    position: absolute;
    // &--p1 {

    // }

    // &--p2 {
      
    // }

    // &--p3 {
      
    // }
  }
}
