/* global reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* for inheritence */
body {
  box-sizing: border-box;
}

html {
  /* font-size: 10px;  */
  /* user will lose the ability to change the browser font size hence 
     this is not a good idea */
  
  // 10px in %
  // user will be able to change the default browser font size
  // 1rem = 10px
  font-size: (10/16) * 100%;

  @include respond-phone {
    font-size: 50%;
  }

  @include respond(phone) {
    font-size: 50%;
  }
}